<p id="notice"><%= notice %></p>

<h1><%= @question.text %></h1>

<table>
  <% @question.answers.each do |a| %>
    <% unless a.text.blank? %>
      <tr>
        <th style="font-size:20px"><%= a.letter %></th>
        <td style="font-size:20px"><%= a.text %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Open', '?post=true' %> | 
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<br>
<br>

<% if @question.active %>
  <h3>This question is open!</h3>
  <%= link_to 'Close', '?post=close', class: 'button' %>
  <span id="num-responses"><%= @question.responses.count %></span>
  <br><br>
<% end %>

<a onclick="$('#results').toggle()">Show Results</a> | <a href='/responses/clear/<%= @question.id %>' data-remote="true">Clear Results</a>

<div id="results" style="display:none">
  <div id="results-chart"></div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // google chart stuff
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawCharts);

  function drawCharts() {
    var userData = new google.visualization.DataTable();
    userData.addColumn('string', 'Letter');
    userData.addColumn('number', '');
    userData.addRows([
      ['A', <%= @results['A'] %>],
      ['B', <%= @results['B'] %>],
      ['C', <%= @results['C'] %>],
      ['D', <%= @results['D'] %>],
      ['E', <%= @results['E'] %>],
    ]);
    var options = {title:'Results',
                   width:1000,
                   height:300,
                   backgroundColor: 'transparent',
                   legend: {position: 'none'}};
    var chart = new google.visualization.BarChart(document.getElementById('results-chart'));
    chart.draw(userData, options);
  }

  // responses counter
  var count_checker = window.setInterval(function() {
    $.getJSON('/responses/count/<%= @question.id %>.json', function(data) {
      $('#num-responses').html(data)
      console.log(data);
    });
  }, 1000);
</script>